/* * {
    border: 2px solid black;
  } */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    text-align: center;
}

#frame {
    height: 600px;
    width: 400px;
    border: 10px solid grey;
    border-radius: 8px;
    border-width: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#frame .display {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 10px solid black;
    border-radius: 2px;
    border-width: 4px;
}

#frame .clear {
    flex: 1;
}

#frame .buttons {
    flex: 4;
}

.answer {
 height: 5;
 width: 200px;

}

.buttons {
    display: flex;
}

/* .buttons button{
    width: 40px;
    height: auto;
    margin: 4px;
} */

.number-buttons {
    flex: 2;
    display: flex;
    flex-wrap: wrap;

}

.operators {
    flex: .75;
    display: flex;
    flex-direction: column;    

}

.number-buttons button {
    flex: auto;
    width: 77px;
    font-size: large;
}

.operators button {
    flex:1 0 auto;
    font-size: large;
    font-weight: bold;
}

